<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRÁCTICA__SEMANA_10.Properties.Settings.empleadosConnectionString"
            connectionString="Data Source=LAPTOP-1KNN72KH\SQLEXPRESS;Initial Catalog=empleados;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>